$primaryColor: #6c933e;
$categoryBackground: #d9e4cc;
$blackColor: #4a4a4a;
$textColor: $blackColor;
$footerBackground: $blackColor;
$whiteColor: #fff;
$lightTextColor: $whiteColor;
$buttonBackground: $whiteColor;
$titleFontFamily: Roboto Slab;
$mainFontFamily: Roboto;
