.categories {
  background-color: $categoryBackground;
  text-align: center;
  padding: 18px 11px 30.7px 12px;

  @media (min-width: $tabletsize) {
    padding: 27px 38px 50px 38px;
  }
  @media (min-width: 1200px) {
    padding: 27px 170px 50px 170px;
  }
  &__subtitle {
    color: #626262;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5;
  }
  &__title {
    color: $titleColor;
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 11.4px;

    @media (min-width: $tabletsize) {
      font-size: 28px;
      line-height: 1.61;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.14;
    gap: 10px;

    @media (min-width: $tabletsize) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0;
      justify-content: space-between;
      font-size: 18px;
      line-height: 1.67;
    }
  }
  &__image {
    border-radius: 50%;
    height: 124px;
    width: 114px;
    object-fit: cover;
  }

  &__button {
    width: 184px;
    height: 47.3px;
    background-color: $primaryColor;
    color: $lightTextColor;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    display: block;
    margin: auto;

    @media (min-width: $tabletsize) {
      margin-top: 17.5px;
    }
  }
}
