.footer {
  background-color: $darkColor;
  color: $lightTextColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 60px 0 33px;
  gap: 28px;

  @media (min-width: $tabletsize) {
    align-items: start;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    text-align: start;
    padding: 56px 0 34px;
  }

  &__button {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    padding: 11px 12.4px 10px 12px;
    position: absolute;
    top: -18px;
  }

  &__list {
    font-size: 16px;
    line-height: 1.88;

    @media (min-width: $tabletsize) {
      order: 2;
    }
  }

  &__icon {
    color: $primaryColor;
  }
  &__copyright {
    line-height: 2.14;
    font-size: 14px;
    @media (min-width: $tabletsize) {
      order: 1;
    }
  }
}
