<section class="categories">
  <p class="categories__subtitle">¡Prepáralos con tus marcas favoritas!</p>
  <h2 class="categories__title">VUELTA AL COLE</h2>
  <div class="categories__grid">
    <div>
      <img
        class="categories__image"
        src="/images/lpbts-mod05-img01-desk.png"
        alt="Niña con una mochila escolar"
      />
      <h3>Mochilas escolares</h3>
    </div>

    <div>
      <img
        class="categories__image"
        src="/images/lpbts-mod05-img04-mob.png"
        alt="Niño lanzando colores"
      />
      <h3>Estuches</h3>
    </div>

    <div>
      <img
        class="categories__image"
        src="/images/lpbts-mod05-img03-mob.png"
        alt="Niña con una mochila deportiva"
      />
      <h3>Bolsas de deporte</h3>
    </div>
  </div>
  <a class="categories__button" href="https://adalab.es/">Empezar ahora</a>
</section>
