<footer class="footer">
  <a class="footer__button" href="#hero"
    ><img src="/images/ico-arrow.svg" alt="Flecha hacia arriba"
  /></a>
  <nav>
    <ul class="footer__list">
      <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
      <li><a href="https://adalab.es/">ROPA</a></li>
      <li><a href="https://adalab.es/">NIÑO/A</a></li>
      <li><a href="https://adalab.es/">DESTACADOS</a></li>
      <li><a href="https://adalab.es/">TIPS</a></li>
    </ul>

    <ul class="footer__list">
      <li><a href="https://adalab.es/">TWITTER</a></li>
      <li><a href="https://adalab.es/">INSTAGRAM</a></li>
      <li><a href="https://adalab.es/">YOUTUBE</a></li>
    </ul>
  </nav>
  <p>©2023 we ❤︎ run</p>
</footer>
